.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 60%;
    max-width: 600px;
    margin: 10px 10px 10px;
    padding: 10px;
    background:rgb(84, 58, 109);
    border: 1px ;
    transition: .2s ease-out;
	overflow: hidden;
    align-items: center;
   
		
}

.card-img {
    width: 95px;
    margin: 10px 15px auto 10px;
    border-radius: 50%;
}

.card-info-container {
    text-align: center;
}

.card-name {
	margin: 20px auto 0;
	color:lightblue;
}

.card-text {
    font-size: 0.9em;
    /* color: rgba(50, 50, 50, 0.7); */
    color: lightblue;
    margin: 7px auto;
    /* transition: .4s ease-out; */
}

.cap {
    text-transform: capitalize;
}